CompileFlags:
  Add: 
    - "-std=c++11"
    - "-pthread"
    - "-DOPENFOAM=2306"
    - "-DWM_DP"
    - "-DWM_LABEL_SIZE=64"
    - "-I/home/t26733/Developer/openfoam/aeroacoustics/src/utility"
    - "-I/home/t26733/Developer/openfoam/aeroacoustics/src/randomProcesses"
    - "-I/home/t26733/Developer/openfoam/aeroacoustics/src/randomProcesses/volumeNoise"
    - "-I/home/t26733/Developer/openfoam/openfoam/src/ODE/lnInclude"
    - "-I/home/t26733/Developer/openfoam/openfoam/src/OSspecific/POSIX/lnInclude"
    - "-I/home/t26733/Developer/openfoam/openfoam/src/OpenFOAM/lnInclude"
    - "-I/home/t26733/Developer/openfoam/openfoam/src/Pstream/dummy/lnInclude"
    - "-I/home/t26733/Developer/openfoam/openfoam/src/Pstream/mpi/lnInclude"
    - "-I/home/t26733/Developer/openfoam/openfoam/src/TurbulenceModels"
    - "-I/home/t26733/Developer/openfoam/openfoam/src/TurbulenceModels/compressible/lnInclude"
    - "-I/home/t26733/Developer/openfoam/openfoam/src/TurbulenceModels/incompressible/lnInclude"
    - "-I/home/t26733/Developer/openfoam/openfoam/src/TurbulenceModels/phaseCompressible/lnInclude"
    - "-I/home/t26733/Developer/openfoam/openfoam/src/TurbulenceModels/phaseIncompressible/lnInclude"
    - "-I/home/t26733/Developer/openfoam/openfoam/src/TurbulenceModels/turbulenceModels/lnInclude"
    - "-I/home/t26733/Developer/openfoam/openfoam/src/combustionModels/lnInclude"
    - "-I/home/t26733/Developer/openfoam/openfoam/src/conversion/lnInclude"
    - "-I/home/t26733/Developer/openfoam/openfoam/src/dummyThirdParty/MGridGen/lnInclude"
    - "-I/home/t26733/Developer/openfoam/openfoam/src/dummyThirdParty/metisDecomp/lnInclude"
    - "-I/home/t26733/Developer/openfoam/openfoam/src/dummyThirdParty/ptscotchDecomp/lnInclude"
    - "-I/home/t26733/Developer/openfoam/openfoam/src/dummyThirdParty/scotchDecomp/lnInclude"
    - "-I/home/t26733/Developer/openfoam/openfoam/src/dynamicFvMesh/lnInclude"
    - "-I/home/t26733/Developer/openfoam/openfoam/src/dynamicMesh/lnInclude"
    - "-I/home/t26733/Developer/openfoam/openfoam/src/edgeMesh/lnInclude"
    - "-I/home/t26733/Developer/openfoam/openfoam/src/engine/lnInclude"
    - "-I/home/t26733/Developer/openfoam/openfoam/src/fileFormats/lnInclude"
    - "-I/home/t26733/Developer/openfoam/openfoam/src/finiteVolume/lnInclude"
    - "-I/home/t26733/Developer/openfoam/openfoam/src/functionObjects/field/lnInclude"
    - "-I/home/t26733/Developer/openfoam/openfoam/src/functionObjects/forces/lnInclude"
    - "-I/home/t26733/Developer/openfoam/openfoam/src/functionObjects/lagrangian/lnInclude"
    - "-I/home/t26733/Developer/openfoam/openfoam/src/functionObjects/solvers/lnInclude"
    - "-I/home/t26733/Developer/openfoam/openfoam/src/functionObjects/utilities/lnInclude"
    - "-I/home/t26733/Developer/openfoam/openfoam/src/fvAgglomerationMethods/pairPatchAgglomeration/lnInclude"
    - "-I/home/t26733/Developer/openfoam/openfoam/src/fvMotionSolver/lnInclude"
    - "-I/home/t26733/Developer/openfoam/openfoam/src/fvOptions/lnInclude"
    - "-I/home/t26733/Developer/openfoam/openfoam/src/genericPatchFields/lnInclude"
    - "-I/home/t26733/Developer/openfoam/openfoam/src/lagrangian/DSMC/lnInclude"
    - "-I/home/t26733/Developer/openfoam/openfoam/src/lagrangian/basic/lnInclude"
    - "-I/home/t26733/Developer/openfoam/openfoam/src/lagrangian/coalCombustion/lnInclude"
    - "-I/home/t26733/Developer/openfoam/openfoam/src/lagrangian/distributionModels/lnInclude"
    - "-I/home/t26733/Developer/openfoam/openfoam/src/lagrangian/intermediate/lnInclude"
    - "-I/home/t26733/Developer/openfoam/openfoam/src/lagrangian/molecularDynamics/molecularMeasurements/lnInclude"
    - "-I/home/t26733/Developer/openfoam/openfoam/src/lagrangian/molecularDynamics/molecule/lnInclude"
    - "-I/home/t26733/Developer/openfoam/openfoam/src/lagrangian/molecularDynamics/potential/lnInclude"
    - "-I/home/t26733/Developer/openfoam/openfoam/src/lagrangian/solidParticle/lnInclude"
    - "-I/home/t26733/Developer/openfoam/openfoam/src/lagrangian/spray/lnInclude"
    - "-I/home/t26733/Developer/openfoam/openfoam/src/lagrangian/turbulence/lnInclude"
    - "-I/home/t26733/Developer/openfoam/openfoam/src/mesh/blockMesh/lnInclude"
    - "-I/home/t26733/Developer/openfoam/openfoam/src/mesh/extrudeModel/lnInclude"
    - "-I/home/t26733/Developer/openfoam/openfoam/src/mesh/snappyHexMesh/lnInclude"
    - "-I/home/t26733/Developer/openfoam/openfoam/src/meshTools/lnInclude"
    - "-I/home/t26733/Developer/openfoam/openfoam/src/parallel/decompose/decompose/lnInclude"
    - "-I/home/t26733/Developer/openfoam/openfoam/src/parallel/decompose/decompositionMethods/lnInclude"
    - "-I/home/t26733/Developer/openfoam/openfoam/src/parallel/decompose/metisDecomp/lnInclude"
    - "-I/home/t26733/Developer/openfoam/openfoam/src/parallel/decompose/ptscotchDecomp/lnInclude"
    - "-I/home/t26733/Developer/openfoam/openfoam/src/parallel/decompose/scotchDecomp/lnInclude"
    - "-I/home/t26733/Developer/openfoam/openfoam/src/parallel/distributed/lnInclude"
    - "-I/home/t26733/Developer/openfoam/openfoam/src/parallel/reconstruct/reconstruct/lnInclude"
    - "-I/home/t26733/Developer/openfoam/openfoam/src/randomProcesses/lnInclude"
    - "-I/home/t26733/Developer/openfoam/openfoam/src/regionCoupled/lnInclude"
    - "-I/home/t26733/Developer/openfoam/openfoam/src/regionModels/pyrolysisModels/lnInclude"
    - "-I/home/t26733/Developer/openfoam/openfoam/src/regionModels/regionCoupling/lnInclude"
    - "-I/home/t26733/Developer/openfoam/openfoam/src/regionModels/regionModel/lnInclude"
    - "-I/home/t26733/Developer/openfoam/openfoam/src/regionModels/surfaceFilmModels/derivedFvPatchFields/wallFunctions/lnInclude"
    - "-I/home/t26733/Developer/openfoam/openfoam/src/regionModels/surfaceFilmModels/lnInclude"
    - "-I/home/t26733/Developer/openfoam/openfoam/src/regionModels/thermalBaffleModels/lnInclude"
    - "-I/home/t26733/Developer/openfoam/openfoam/src/renumber/SloanRenumber/lnInclude"
    - "-I/home/t26733/Developer/openfoam/openfoam/src/renumber/renumberMethods/lnInclude"
    - "-I/home/t26733/Developer/openfoam/openfoam/src/rigidBodyDynamics/lnInclude"
    - "-I/home/t26733/Developer/openfoam/openfoam/src/rigidBodyMeshMotion/lnInclude"
    - "-I/home/t26733/Developer/openfoam/openfoam/src/sampling/lnInclude"
    - "-I/home/t26733/Developer/openfoam/openfoam/src/sixDoFRigidBodyMotion/lnInclude"
    - "-I/home/t26733/Developer/openfoam/openfoam/src/surfMesh/lnInclude"
    - "-I/home/t26733/Developer/openfoam/openfoam/src/thermophysicalModels/SLGThermo/lnInclude"
    - "-I/home/t26733/Developer/openfoam/openfoam/src/thermophysicalModels/barotropicCompressibilityModel/lnInclude"
    - "-I/home/t26733/Developer/openfoam/openfoam/src/thermophysicalModels/basic/lnInclude"
    - "-I/home/t26733/Developer/openfoam/openfoam/src/thermophysicalModels/chemistryModel/lnInclude"
    - "-I/home/t26733/Developer/openfoam/openfoam/src/thermophysicalModels/laminarFlameSpeed/lnInclude"
    - "-I/home/t26733/Developer/openfoam/openfoam/src/thermophysicalModels/properties/liquidMixtureProperties/lnInclude"
    - "-I/home/t26733/Developer/openfoam/openfoam/src/thermophysicalModels/properties/liquidProperties/lnInclude"
    - "-I/home/t26733/Developer/openfoam/openfoam/src/thermophysicalModels/properties/solidMixtureProperties/lnInclude"
    - "-I/home/t26733/Developer/openfoam/openfoam/src/thermophysicalModels/properties/solidProperties/lnInclude"
    - "-I/home/t26733/Developer/openfoam/openfoam/src/thermophysicalModels/radiation/lnInclude"
    - "-I/home/t26733/Developer/openfoam/openfoam/src/thermophysicalModels/reactionThermo/lnInclude"
    - "-I/home/t26733/Developer/openfoam/openfoam/src/thermophysicalModels/solidChemistryModel/lnInclude"
    - "-I/home/t26733/Developer/openfoam/openfoam/src/thermophysicalModels/solidSpecie/lnInclude"
    - "-I/home/t26733/Developer/openfoam/openfoam/src/thermophysicalModels/solidThermo/lnInclude"
    - "-I/home/t26733/Developer/openfoam/openfoam/src/thermophysicalModels/specie/lnInclude"
    - "-I/home/t26733/Developer/openfoam/openfoam/src/thermophysicalModels/thermophysicalFunctions/lnInclude"
    - "-I/home/t26733/Developer/openfoam/openfoam/src/topoChangerFvMesh/lnInclude"
    - "-I/home/t26733/Developer/openfoam/openfoam/src/transportModels/compressible/lnInclude"
    - "-I/home/t26733/Developer/openfoam/openfoam/src/transportModels/immiscibleIncompressibleTwoPhaseMixture/lnInclude"
    - "-I/home/t26733/Developer/openfoam/openfoam/src/transportModels/incompressible/lnInclude"
    - "-I/home/t26733/Developer/openfoam/openfoam/src/transportModels/interfaceProperties/lnInclude"
    - "-I/home/t26733/Developer/openfoam/openfoam/src/transportModels/twoPhaseMixture/lnInclude"
    - "-I/home/t26733/Developer/openfoam/openfoam/src/transportModels/twoPhaseProperties/lnInclude"
    - "-I/home/t26733/Developer/openfoam/openfoam/src/triSurface/lnInclude"
    - "-I/home/t26733/Developer/openfoam/openfoam/src/randomProcesses/lnInclude"
    - "-I/home/t26733/Developer/openfoam/openfoam/ThirdParty/platforms/linux64Gcc/fftw-3.3.10/include"
