linux64GccDPInt32Debug/
linux64GccDPInt32Opt/
linux64ClangDPInt32Opt/
linux64ClangDPInt32Debug/
lnInclude/
.svn/

*.o
dependencies/local_dependencies/build
dependencies/local_dependencies/bin
dependencies/local_dependencies/include
dependencies/local_dependencies/lib
dependencies/local_dependencies/share
**/Make/*/
**/lnInclude
**/*.csv
**/*.png
**/build/
samples
bundles/*.bundle
